.form {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
}

.form-title {
  font-size: 2.6rem;
  font-weight: 600;
}

.form-subtitle {
  font-size: 1.8rem;
  font-weight: var(--font-weight-xthin);
}
