.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  &__menu {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  &__option {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.75rem 0.75rem;
    font-size: 1.8rem;
    font-weight: var(--font-weight-xthin);
    color: black;
    cursor: pointer;
    &--active {
      border: var(--border-thin);
    }
  }
}
.heeader {
  &__logo {
  }
}
