.cart-icon-container {
  position: relative;
}
.cart-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__icon {
    width: 3rem;
    height: 3rem;
  }
  &__count {
    position: absolute;
    font-size: 1.2rem;
    font-weight: var(--font-weight-normal);
    top: 1rem;
  }
}
