.checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: var(--border-thin);

  &__image,
  &__name,
  &__price,
  &__quantity,
  &__remove {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
  }

  &__name,
  &__price,
  &__quantity,
  &__remove {
    justify-content: center;
  }

  &__image {
    img {
      width: 90%;
      height: auto;
    }
  }
  &__quantity {
    display: flex;
    gap: 1rem;

    .arrow {
      cursor: pointer;
    }
  }

  &__remove {
    span {
      cursor: pointer;
    }
  }
}
