.cart-item {
  display: flex;
  height: 7rem;
  align-items: center;
  gap: 1rem;
  &__img {
    width: 30%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    font-size: 1.4rem;
    letter-spacing: -0.8px;
    font-weight: 300;
  }
  &__total {
    font-size: 1.2rem;
    // letter-spacing: -0.8px;
    font-weight: 300;
  }
}
